 <div id="content">

	  <h1>Volunteer of the Year Awards</h1>
	  <p>
		Following the end of classes in the spring semester, the CSSS shall award the "CSSS Volunteer of the Year" award to a non-executive member of the Society who has demonstrated great service to the Society in the past year. Nominations for the award shall be accepted in writing until the last day of classes of the spring semester and the executive shall grant the award at their discretion before the start of classes in the summer semester. 
		</p>
	  <p>
	    2011/2012 - Antonio Abaya<br />
		2008/2009 - Max Whitney<br />
	  </p>
</div>