 <div id="content">

<a href="Constitution_January_2013.pdf">PDF Version</a><br>

 
<h1 align="center">Simon Fraser Student Society<br />
 Computing Science Student Society<br />
Constitution </h1>

<div class="p"><!----></div>

<h3 align="center">January 2013 </h3>

<div class="p"><!----></div>

<h1>Contents </h1>
<a href="#tth_sEc1"
>1&nbsp; Name</a><br />
<a href="#tth_sEc2"
>2&nbsp; Purpose</a><br />
<a href="#tth_sEc3"
>3&nbsp; Membership</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc3.1"
>3.1&nbsp; Automatic Membership</a><br />

&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc3.2"
>3.2&nbsp; Honourary  english Membership</a><br />

<a href="#tth_sEc4"
>4&nbsp; Organisation</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc4.1"
>4.1&nbsp; Officers</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc4.1.1"
>4.1.1&nbsp; The Executive</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc4.1.2"
>4.1.2&nbsp; Elected Representatives</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc4.1.3"
>4.1.3&nbsp; Appointed Representatives</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc4.1.4"
>4.1.4&nbsp; Signing Officers</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc4.2"
>4.2&nbsp; Departmental Committees</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc4.2.1"
>4.2.1&nbsp; Undergraduate Programmes Committee/Undergraduate Curriculum Committee</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc4.2.2"
>4.2.2&nbsp; Dean's Student Advisory Committee</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc4.2.3"
>4.2.3&nbsp; Other Committees</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc4.3"
>4.3&nbsp; CSSS Committees</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc4.3.1"
>4.3.1&nbsp; Activities Committee</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc4.3.2"
>4.3.2&nbsp; Policy Committee</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc4.3.3"
>4.3.3&nbsp; Frosh Week Committee</a><br />
<a href="#tth_sEc5"
>5&nbsp; Meetings</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc5.1"
>5.1&nbsp; Frequency</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc5.2"
>5.2&nbsp; Record Keeping</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc5.3"
>5.3&nbsp; Convening Procedures for General Meetings</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc5.3.1"
>5.3.1&nbsp; Notice</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc5.3.2"
>5.3.2&nbsp; Format of Notice</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc5.4"
>5.4&nbsp; Quorum</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc5.5"
>5.5&nbsp; Voting and Motions</a><br />
<a href="#tth_sEc6"
>6&nbsp; Elections</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc6.1"
>6.1&nbsp; Eligibility</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc6.2"
>6.2&nbsp; Yearly positions</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc6.3"
>6.3&nbsp; Semesterly positions</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc6.4"
>6.4&nbsp; First Year Representatives</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc6.5"
>6.5&nbsp; Elected Representatives</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc6.6"
>6.6&nbsp; Appointed Representatives</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tth_sEc6.7"
>6.7&nbsp; Recall</a><br />
<a href="#tth_sEc7"
>7&nbsp; Standing Orders</a><br />
<a href="#tth_sEc8"
>8&nbsp; Policies</a><br />
<a href="#tth_sEc9"
>9&nbsp; Amendments</a><br />
<a href="#tth_sEc10"
>10&nbsp; Dissolution</a><br />


<div class="p"><!----></div>
 <h2><a name="tth_sEc1">
1</a>&nbsp;&nbsp;Name</h2>

<div class="p"><!----></div>
The name of this organisation shall be the "Computing Science Student
Society" (from here on referred to as the CSSS), a sub-chapter of
the "Simon Fraser Student Society" (from here on referred to as
the SFSS). All mentions of the "Society" within this document
shall be in direct reference to the CSSS.

<div class="p"><!----></div>
 <h2><a name="tth_sEc2">
2</a>&nbsp;&nbsp;Purpose</h2>

<div class="p"><!----></div>
The Society exists for the furtherance of the following objectives:

<ul>
<li> The promotion of the interests of students within the School of Computing
Science.
<div class="p"><!----></div>
</li>

<li> The promotion of the interests of CSSS members within the Simon Fraser
Student Society.
<div class="p"><!----></div>
</li>

<li> The organisation of activities, of educational, entertainment, and
career value, for members of the CSSS.
<div class="p"><!----></div>
</li>

<li> The promotion of the CSSS and the interests of its members within
the community at large.
<div class="p"><!----></div>
</li>

<li> The aims of the CSSS shall be consistent with the SFSS Constitution
and By-Laws.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
 <h2><a name="tth_sEc3">
3</a>&nbsp;&nbsp;Membership</h2>

<div class="p"><!----></div>
     <h3><a name="tth_sEc3.1">
3.1</a>&nbsp;&nbsp;Automatic Membership</h3>

<div class="p"><!----></div>
Automatic membership shall be extended to:

<ul>
<li> All students who are declared majors, minors or honours in any 
of study offered at the undergraduate level by the School of Computing
Science.
<div class="p"><!----></div>
</li>

<li> All students who are currently enrolled in any undergraduate course
offered by the School of Computing Science.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
     <h3><a name="tth_sEc3.2">
3.2</a>&nbsp;&nbsp;Honourary</h3>

<div class="p"><!----></div>
Honourary, non-voting membership shall be extended:

<ul>
<li> For a period of one year, by a two-thirds (2/3) majority vote at
a General Meeting, to individuals that have provided substantial service
to the CSSS.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
 <h2><a name="tth_sEc4">
4</a>&nbsp;&nbsp;Organisation</h2>

<div class="p"><!----></div>
     <h3><a name="tth_sEc4.1">
4.1</a>&nbsp;&nbsp;Officers</h3>

<div class="p"><!----></div>
      <h4><a name="tth_sEc4.1.1">
4.1.1</a>&nbsp;&nbsp;The Executive</h4>

<div class="p"><!----></div>
The Executive shall consist of the President, Vice-President, Director
of Resources, Director of Activities, Treasurer, Secretary, Executive
at Large, and two First Year Representatives. The President, Vice-President,
and Treasurer shall have a one year term of office. The Director of
Resources, Director of Activities, Secretary, and Executive at Large
shall have a one semester term of office. The First Year Representatives
shall have a term of office consisting of the Fall and Spring semesters. 

<ul>
<li> President<br />
The President shall:

<div class="p"><!----></div>

<ul>
<li> Carry out the business and upkeep of the CSSS, including the delegation
of duties to other members of the Society as necessary and in accordance
with this Constitution, as directed by the decisions of the membership,
in order to ensure the well-being of the Society.
<div class="p"><!----></div>
</li>

<li> Be responsible for calling General Meetings.
<div class="p"><!----></div>
</li>

<li> Assume ex officio membership on all committees within the CSSS and
to which the CSSS appoints representatives.
<div class="p"><!----></div>
</li>

<li> Act as official spokesperson and representative for the CSSS.
<div class="p"><!----></div>
</li>

<li> Be the official contact with the School of Computing Science and its
representatives.
<div class="p"><!----></div>
</li>

<li> Be the official contact with the Simon Fraser Student Society and
its representatives.
<div class="p"><!----></div>
</li>

<li> Compile a semester contact list of the executive members for the School
of Computing Science and the Student Union Organiser.
<div class="p"><!----></div>
</li>

<li> Be responsible for monitoring all projects funded through the Society.
<div class="p"><!----></div>
</li>

<li> Be a signing officer of the Society, including the Society's Bank
Account.
<div class="p"><!----></div>
</li>

<li> Write a continuity report at the end of their term for the next executive
member who will fill this position.
<div class="p"><!----></div>
</li>
</ul>
<div class="p"><!----></div>
</li>

<li> Vice-President<br />
The Vice-President shall:

<div class="p"><!----></div>

<ul>
<li> Chair all meetings or shall share or delegate this task on direction
from a General Meeting.
<div class="p"><!----></div>
</li>

<li> Perform public relations tasks on behalf of the CSSS in order to promote
the CSSS and expand its membership.
<div class="p"><!----></div>
</li>

<li> Co-ordinate volunteers for the continued operation of the CSSS.
<div class="p"><!----></div>
</li>

<li> Provide a line of communication between the CSSS, graduate students,
and alumni.
<div class="p"><!----></div>
</li>

<li> Assume the duties of the President in the event that the President
is unable or unavailable to carry them out, or that the position of
President becomes vacant.
<div class="p"><!----></div>
</li>

<li> Be a signing officer of the Society, including the Society's Bank
Account.
<div class="p"><!----></div>
</li>

<li> Write a continuity report at the end of their term for the next executive
member who will fill this position.
<div class="p"><!----></div>
</li>
</ul>
<div class="p"><!----></div>
</li>

<li> Director of Resources<br />
The Director of Resources shall:

<div class="p"><!----></div>

<ul>
<li> Be responsible for ensuring the administration of maintenance, upkeep,
and smooth operation of all CSSS resources and assets, including but
not limited to common room(s), photocopier(s), vending machine(s),
and exam files, such that these resources remain in good working order
and are usable by the membership.
<div class="p"><!----></div>
</li>

<li> Be a signing officer of the Society, including the Society's Bank
Account.
<div class="p"><!----></div>
</li>

<li> Write a continuity report at the end of their term for the next executive
member who will fill this position.
<div class="p"><!----></div>
</li>
</ul>
<div class="p"><!----></div>
</li>

<li> Director of Activities<br />
The Director of Activities shall:

<div class="p"><!----></div>

<ul>
<li> Chair the activities committee.
<div class="p"><!----></div>
</li>

<li> Plan, organise, and execute all CSSS sponsored events or delegate
such responsibilities as necessary.
<div class="p"><!----></div>
</li>

<li> Be a signing officer of the Society, including the Society's Bank
Account.
<div class="p"><!----></div>
</li>

<li> Write a continuity report at the end of their term for the next executive
member who will fill this position.
<div class="p"><!----></div>
</li>
</ul>
<div class="p"><!----></div>
</li>

<li> Treasurer<br />
The Treasurer shall:

<div class="p"><!----></div>

<ul>
<li> Maintain all financial records of the CSSS.
<div class="p"><!----></div>
</li>

<li> Make regular financial reports to the membership.
<div class="p"><!----></div>
</li>

<li> Be a signing officer of the Society, including the Society's Bank
Account.
<div class="p"><!----></div>
</li>

<li> Write a continuity report at the end of their term for the next executive
member who will fill this position.
<div class="p"><!----></div>
</li>
</ul>
<div class="p"><!----></div>
</li>

<li> Secretary<br />
The Secretary shall:

<div class="p"><!----></div>

<ul>
<li> Ensure that proper notice of General Meetings is given, as specified
by this Constitution.
<div class="p"><!----></div>
</li>

<li> Keep and reproduce both minutes of CSSS meetings and written records
of all decisions, made at properly constituted meetings of the Society.
<div class="p"><!----></div>
</li>

<li> Maintain records of all correspondence between the Society and other
organisations.
<div class="p"><!----></div>
</li>

<li> Make the minutes of all meetings available to the public, including
the Student Union Organiser.
<div class="p"><!----></div>
</li>

<li> Compile semester executive, representative, and committee membership
lists.
<div class="p"><!----></div>
</li>

<li> Post hard copies of the minutes of General Meetings near the CSSS
common room(s), and distribute electronic versions of the minutes
to appropriate CSSS mailing lists.
<div class="p"><!----></div>
</li>

<li> Maintain the records of the CSSS, including but not limited to the
minutes archive.
<div class="p"><!----></div>
</li>

<li> Write a continuity report at the end of their term for the next executive
member who will fill this position.
<div class="p"><!----></div>
</li>
</ul>
<div class="p"><!----></div>
</li>

<li> Executive at Large<br />
The Executive at Large shall:

<div class="p"><!----></div>

<ul>
<li> Share responsibility for the day-to-day operations of the CSSS and
its resources.
<div class="p"><!----></div>
</li>

<li> Be available to the other executives to assist them with tasks relating
to the operations and activities of the CSSS.
<div class="p"><!----></div>
</li>

<li> Write a continuity report at the end of their term for the next executive
member who will fill this position.
<div class="p"><!----></div>
</li>
</ul>
<div class="p"><!----></div>
</li>

<li> First Year Representative<br />
The First Year Representatives shall:

<div class="p"><!----></div>

<ul>
<li> Share responsibility for the day-to-day operations of the CSSS and
its resources.
<div class="p"><!----></div>
</li>

<li> Ensure that issues and views pertaining to the members of the Society
in their first year of Post-Secondary education are well represented
within the Executive and the Society as a whole.
<div class="p"><!----></div>
</li>

<li> Write a continuity report at the end of their term for the next executive
member who will fill this position.
<div class="p"><!----></div>
</li>
</ul>
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
      <h4><a name="tth_sEc4.1.2">
4.1.2</a>&nbsp;&nbsp;Elected Representatives</h4>

<div class="p"><!----></div>
The Elected Representatives shall consist of the Elections Officer,
Forum Representative, and the Departmental Student Union Representatives.
The Elected Representatives are non-executive positions that may be
filled by any member of the Society and shall have a term of office
consisting of one semester unless otherwise noted below.

<ul>
<li> Elections Officer<br />
The Elections Officer shall:

<div class="p"><!----></div>

<ul>
<li> Organise and facilitate the CSSS elections that they are elected to
officiate, in accordance with this Constitution.
<div class="p"><!----></div>
</li>

<li> Receive all nominations for members of the Society running for a position.
<div class="p"><!----></div>
</li>

<li> Be free from conflicts of interest, by not running for any of the
positions in the election(s) that they are officiating.
<div class="p"><!----></div>
</li>

<li> Provide the results of the election(s) after voting has been concluded.
<div class="p"><!----></div>
</li>

<li> Hold their position from the time they are elected until the conclusion
of the elections that they have been elected to officiate.
<div class="p"><!----></div>
</li>
</ul>
<div class="p"><!----></div>
</li>

<li> Forum Representative<br />
The Forum Representative shall:

<div class="p"><!----></div>

<ul>
<li> Follow all Simon Fraser Student Society requirements for a Student
Union Forum Representative.
<div class="p"><!----></div>
</li>

<li> Act to further the best interests of the CSSS as directed by the membership,
within the Simon Fraser Student Society Forum.
<div class="p"><!----></div>
</li>

<li> Report on the activities of the Simon Fraser Student Society Forum
at General Meetings.
<div class="p"><!----></div>
</li>

<li> Submit a written report for each meeting to the Secretary for public
distribution and filing.
<div class="p"><!----></div>
</li>

<li> Hold their position from the time they are elected until April 30th
of the following year.
<div class="p"><!----></div>
</li>
</ul>
<div class="p"><!----></div>
</li>

<li> Departmental Student Representatives<br />
The Departmental Student Representatives shall:

<div class="p"><!----></div>

<ul>
<li> Regularly attend meetings for the departmental committee to which
they have been elected.
<div class="p"><!----></div>
</li>

<li> Report to and consult with the membership on a regular basis, during
General Meetings, concerning the activities of and issues arising
from such committees.
<div class="p"><!----></div>
</li>

<li> Promote the best interests of the CSSS and its members.
<div class="p"><!----></div>
</li>

<li> Inform the President of any meetings to which student representatives
are regularly or specially invited to attend, which the elected representative
is unable to attend, to ensure that the membership may be represented
by an alternate member of the Society.
<div class="p"><!----></div>
</li>

<li> Submit a written report for each meeting to the Secretary for public
distribution and filing.
<div class="p"><!----></div>
</li>
</ul>
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
      <h4><a name="tth_sEc4.1.3">
4.1.3</a>&nbsp;&nbsp;Appointed Representatives</h4>

<div class="p"><!----></div>
The Appointed Representatives shall consist of the System Administrator,
Webmaster, and Frosh Week Chair. The Appointed Representatives are
non-executive positions that may be filled by any member of the Society
and shall have a term of office consisting of one semester unless
otherwise noted below.

<ul>
<li> System Administrator<br />
The System Administrator shall:

<div class="p"><!----></div>

<ul>
<li> Maintain all digital resources including but not limited to the CSSS
repository, servers, common room terminal(s), and associated hardware.
<div class="p"><!----></div>
</li>

<li> At the end of their term, submit to the Director of Resources a detailed
report of actions taken, for filing in the Director of Resources continuity
report.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
If this position remains unfilled, the associated duties shall default
to the Director of Resources.
<div class="p"><!----></div>
</li>

<li> Webmaster<br />
The Webmaster shall:

<div class="p"><!----></div>

<ul>
<li> Maintain current websites affiliated with the CSSS and its corresponding
committees.
<div class="p"><!----></div>
</li>

<li> Create and design new websites at the request of the Executive or
an approved committee.
<div class="p"><!----></div>
</li>

<li> At the end of their term, submit to the Director of Resources a detailed
report of actions taken, for filing in the Director of Resources continuity
report.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
If this position remains unfilled, the associated duties shall default
to the System Administrator.
<div class="p"><!----></div>
</li>

<li> Frosh Week Chair<br />
The Frosh Week Chair shall:

<div class="p"><!----></div>

<ul>
<li> Be responsible for overseeing the organisation and planning of Frosh
Week.
<div class="p"><!----></div>
</li>

<li> Chair a Frosh Week Committee and hold regular meetings to discuss
and plan Frosh Week.
<div class="p"><!----></div>
</li>

<li> Hold their position from the time of their appointment until the conclusion
of all Frosh Week events that were planned.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
If extraneous or financial circumstances prevent Frosh Week from taking
place, the events may be canceled at a General Meeting and if canceled,
the Frosh Week Chair shall be released from all duties and responsibilities
pertaining to the position of Frosh Week Chair.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
      <h4><a name="tth_sEc4.1.4">
4.1.4</a>&nbsp;&nbsp;Signing Officers</h4>

<div class="p"><!----></div>
The signing officers of the CSSS, including the CSSS bank account,
shall be the following executives:

<ul>
<li> The President
<div class="p"><!----></div>
</li>

<li> The Vice-President
<div class="p"><!----></div>
</li>

<li> The Director of Activities
<div class="p"><!----></div>
</li>

<li> The Director of Resources
<div class="p"><!----></div>
</li>

<li> The Treasurer
<div class="p"><!----></div>
</li>

<li> The SFSS Student Union Organiser
<div class="p"><!----></div>
</li>

<li> The SFSS Treasurer
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
     <h3><a name="tth_sEc4.2">
4.2</a>&nbsp;&nbsp;Departmental Committees</h3>

<div class="p"><!----></div>
The CSSS shall elect Departmental Student Representatives, as follows,
to committees within the School of Computing Science:

<div class="p"><!----></div>
      <h4><a name="tth_sEc4.2.1">
4.2.1</a>&nbsp;&nbsp;Undergraduate Programmes Committee/Undergraduate Curriculum Committee</h4>

<div class="p"><!----></div>
The President, Vice-President, and Treasurer of the Society shall
sit on the Undergraduate Programmes Committee/Undergraduate Curriculum
Committee. One alternative member shall also be elected to sit on
the Committee in the case that one of the aforementioned Executives
is absent.

<div class="p"><!----></div>
      <h4><a name="tth_sEc4.2.2">
4.2.2</a>&nbsp;&nbsp;Dean's Student Advisory Committee</h4>

<div class="p"><!----></div>
The President, Vice-President, and Treasurer of the Society shall
be members of the Dean's Student Advisory Committee. One alternative
member shall also be elected to sit on the Committee in the case that
one of the aforementioned Executives is absent.

<div class="p"><!----></div>
      <h4><a name="tth_sEc4.2.3">
4.2.3</a>&nbsp;&nbsp;Other Committees</h4>

<div class="p"><!----></div>
In the case that a Committee of the School of Computing Science or
of the Faculty of Applied Sciences creates a seat for a member of
the Society, the President, Vice-President, or Treasurer shall sit
on the Committee until a time at which the Committee is introduced
in this Constitution. One alternative member shall also be elected
to sit on the Committee in the case that all of the aforementioned
Executives are absent.

<div class="p"><!----></div>
     <h3><a name="tth_sEc4.3">
4.3</a>&nbsp;&nbsp;CSSS Committees</h3>

<div class="p"><!----></div>
In addition to the permanent committees defined below, the President
may, at any time, stake ad hoc committees to deal with special or
pressing business of the CSSS. Membership on these committees shall
be appointed by the members of the Executive.

<div class="p"><!----></div>
      <h4><a name="tth_sEc4.3.1">
4.3.1</a>&nbsp;&nbsp;Activities Committee</h4>

<div class="p"><!----></div>
The Director of Activities shall chair an Activities Committee to
organise and facilitate CSSS events.

<div class="p"><!----></div>
      <h4><a name="tth_sEc4.3.2">
4.3.2</a>&nbsp;&nbsp;Policy Committee</h4>

<div class="p"><!----></div>
The Vice-President shall chair the Policy Committee of the Society.
In the case that the Vice-President is contacted regarding a proposal
to amend the Constitution, a meeting of the Policy Committee shall
be convened.

<div class="p"><!----></div>
      <h4><a name="tth_sEc4.3.3">
4.3.3</a>&nbsp;&nbsp;Frosh Week Committee</h4>

<div class="p"><!----></div>
The Frosh Week Chair shall chair a Frosh Week Committee to organise
and plan Frosh Week.

<div class="p"><!----></div>
 <h2><a name="tth_sEc5">
5</a>&nbsp;&nbsp;Meetings</h2>

<div class="p"><!----></div>
     <h3><a name="tth_sEc5.1">
5.1</a>&nbsp;&nbsp;Frequency</h3>

<div class="p"><!----></div>
There shall be at least four General Meetings in any given semester,
the first of which shall be within the first three weeks of classes,
the final one shall be within the last two weeks of classes. 

<div class="p"><!----></div>
     <h3><a name="tth_sEc5.2">
5.2</a>&nbsp;&nbsp;Record Keeping</h3>

<div class="p"><!----></div>
All meetings of the CSSS, including but not limited to General Meetings,
Emergency General Meetings, Executive Meetings, Activities Committee
Meetings, and Event Planning Meetings shall have minutes produced
and supplied to the Secretary for filing and distribution to the associated
mailing lists.

<div class="p"><!----></div>
     <h3><a name="tth_sEc5.3">
5.3</a>&nbsp;&nbsp;Convening Procedures for General Meetings</h3>

<ul>
<li> General Meetings shall be called by the President, or any other executive
should the President be unable or unwilling.
<div class="p"><!----></div>
</li>

<li> If, at any time, no executive is able or willing to call a General
Meeting at the request of the membership, any member may do so, provided
proper notice is given.
<div class="p"><!----></div>
</li>

<li> At any time an Emergency General Meeting may be called without proper
notice, however no motions or voting may take place at an Emergency
General Meeting.
<div class="p"><!----></div>
</li>

<li> The location of a General Meeting may be changed provided it remains
on the same campus and notice of the change is given at least twenty-four
hours before the scheduled meeting time. In order to change the location
of a General Meeting a 2/3 majority vote of the Executive is needed.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
      <h4><a name="tth_sEc5.3.1">
5.3.1</a>&nbsp;&nbsp;Notice</h4>

<div class="p"><!----></div>
General Meetings shall be announced at least one week in advance.
Such announcements must include the following:

<ul>
<li> Placement on the CSSS website when the website is available, and if
applicable, distribution via appropriate social media.
<div class="p"><!----></div>
</li>

<li> A minimum of ten posters distributed amongst all the CSSS common room(s),
the Applied Sciences Building and all undergraduate computing science
instructional lab facilities located at campuses where the CSSS holds
an active executive body.
<div class="p"><!----></div>
</li>

<li> An electronic mail sent to the mailing lists <em>csss-announce@sfu.ca</em>
and <em>cmpt-students@sfu.ca</em>, or should this not be possible, the
mailing list with the greatest number of Computing Science students.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
      <h4><a name="tth_sEc5.3.2">
5.3.2</a>&nbsp;&nbsp;Format of Notice</h4>

<div class="p"><!----></div>
Any notice of meeting must contain the following information:

<ul>
<li> The time and place of the meeting.
<div class="p"><!----></div>
</li>

<li> The main points of business of the meeting.
<div class="p"><!----></div>
</li>

<li> A listing of any constitutional amendments to be adopted or elections
to be conducted.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
     <h3><a name="tth_sEc5.4">
5.4</a>&nbsp;&nbsp;Quorum</h3>

<ul>
<li> During the Fall and Spring semesters, quorum shall be set at ten members
of the CSSS.
<div class="p"><!----></div>
</li>

<li> During Summer semesters, quorum shall be set at seven members of the
CSSS.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
     <h3><a name="tth_sEc5.5">
5.5</a>&nbsp;&nbsp;Voting and Motions</h3>

<ul>
<li> Each member of the CSSS is entitled to one vote per motion at any
meeting at which they are in attendance.
<div class="p"><!----></div>
</li>

<li> The acceptance of motions shall be determined by a simple majority
of those members present and voting at any meeting, notwithstanding
those exceptions explicitly defined within this Constitution.
<div class="p"><!----></div>
</li>

<li> By default, voting shall be by show of hands. However, any member
in attendance may object to a show of hands, and voting will proceed
by secret ballot.
<div class="p"><!----></div>
</li>

<li> No proxy voting shall be allowed.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
 <h2><a name="tth_sEc6">
6</a>&nbsp;&nbsp;Elections</h2>

<div class="p"><!----></div>
     <h3><a name="tth_sEc6.1">
6.1</a>&nbsp;&nbsp;Eligibility</h3>

<ul>
<li> The CSSS President, Vice-President, Treasurer, and SFSS Forum Representative
must be registered with the university as a major, minor, or honours
in a programme of study offered by the School of Computing Science.
<div class="p"><!----></div>
</li>

<li> Both of the First Year Representatives must be a registered major,
minor, or honours in a programme of study offered by the School of
Computing Science, or must intend to enter such a programme above
and beyond being within their first year of study at a Post-Secondary
Institution.
<div class="p"><!----></div>
</li>

<li> Any member of the Society, including but not limited to the Executives
of the Society, shall be eligible for election to any non-executive
representative position of the Society.
<div class="p"><!----></div>
</li>

<li> Any member of the Society shall be eligible for election to any executive
office or committee of the Society, with the exception of the President,
Vice-President, Treasurer, SFSS Forum Representative, and First Year
Representative positions.
<div class="p"><!----></div>
</li>

<li> In the event that any executive position cannot be filled by a member
fulfilling these criteria, then any non-executive member of the Society
shall be eligible for election to any executive office of the Society.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
     <h3><a name="tth_sEc6.2">
6.2</a>&nbsp;&nbsp;Yearly positions</h3>

<ul>
<li> The terms of office for the positions of President, Vice-President,
and Treasurer shall be one year beginning May 1st through April 30th
of the following year.
<div class="p"><!----></div>
</li>

<li> Elections shall take place during the Spring semester.
<div class="p"><!----></div>
</li>

<li> Nominations shall remain open until 24 hours before the beginning
of the election period.
<div class="p"><!----></div>
</li>

<li> Nominations shall be accepted in writing by the Elections Officer.
<div class="p"><!----></div>
</li>

<li> Should a person holding a yearly position be unable to perform their
duties for a period exceeding a month, they may request leave and
an interim replacement may be elected, in accordance with the procedures
that apply if the position were to become unfilled, to serve for the
duration of the leave.
<div class="p"><!----></div>
</li>

<li> In the event that any of the yearly positions remain or become unfilled,
an election for this position shall take place within the next two
scheduled General Meetings, and notice of the election will be included
with notice of the meeting.
<div class="p"><!----></div>
</li>

<li> Elections shall be conducted by the Elections Officer using the Simon
Fraser University Survey System. Voting by secret ballot is permitted
in the event the Simon Fraser University Survey System is unavailable.
<div class="p"><!----></div>
</li>

<li> No proxy voting shall be allowed.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
     <h3><a name="tth_sEc6.3">
6.3</a>&nbsp;&nbsp;Semesterly positions</h3>

<ul>
<li> The terms of office for the positions of Director of Resources, Director
of Activities, Executive at Large, and Secretary shall be one semester
beginning at the time of their election until the first quorate General
Meeting of the subsequent semester.
<div class="p"><!----></div>
</li>

<li> Elections for positions pertaining to a specific campus shall take
place at the first quorate General Meeting of the semester at that
campus. Other elections shall take place at the first quorate General
Meeting of the semester.
<div class="p"><!----></div>
</li>

<li> Nominations shall be accepted in writing and from the floor at the
General Meeting.
<div class="p"><!----></div>
</li>

<li> Voting shall be conducted by secret ballot with the person receiving
the largest number of votes being elected.
<div class="p"><!----></div>
</li>

<li> In the event that any semesterly position becomes unfilled, an election
for this position shall take place within the next two scheduled General
Meetings, and notice of the election will be included with notice
of the meeting.
<div class="p"><!----></div>
</li>

<li> No proxy voting shall be allowed.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
     <h3><a name="tth_sEc6.4">
6.4</a>&nbsp;&nbsp;First Year Representatives</h3>

<ul>
<li> The terms of office for the positions of First Year Representatives
shall last two semesters, from the first quorate General Meeting of
the Fall semester until the first quorate General Meeting of the Summer
semester.
<div class="p"><!----></div>
</li>

<li> Elections shall take place at the first quorate General Meeting of
the Fall semester.
<div class="p"><!----></div>
</li>

<li> Nominations shall be accepted in writing and from the floor at the
General Meeting.
<div class="p"><!----></div>
</li>

<li> Voting shall be conducted by secret ballot with the person receiving
the largest number of votes being elected.
<div class="p"><!----></div>
</li>

<li> In the event that this position becomes unfilled during either the
Fall or Spring semesters, an election for this position shall take
place within the next two scheduled General Meetings, and notice of
the election will be included with notice of the meeting.
<div class="p"><!----></div>
</li>

<li> No proxy voting shall be allowed.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
     <h3><a name="tth_sEc6.5">
6.5</a>&nbsp;&nbsp;Elected Representatives</h3>

<ul>
<li> Elected Representatives shall be elected as needed at a quorate General
Meeting and shall have a term of office lasting one semester unless
otherwise noted below.
<div class="p"><!----></div>
</li>

<li> The Elections Officer shall have a term of office lasting from the
time they are elected until the conclusion of the election they are
to officiate.
<div class="p"><!----></div>
</li>

<li> The Forum Representative shall have a term of office lasting from
the time they are elected until April 30th of the following year.
<div class="p"><!----></div>
</li>

<li> Nominations shall be accepted in writing and from the floor at the
General Meeting.
<div class="p"><!----></div>
</li>

<li> Voting shall be conducted by secret ballot with the person receiving
the largest number of votes being elected.
<div class="p"><!----></div>
</li>

<li> No proxy voting shall be allowed.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
     <h3><a name="tth_sEc6.6">
6.6</a>&nbsp;&nbsp;Appointed Representatives</h3>

<ul>
<li> Appointed Representatives shall be appointed by a 2/3 majority vote
of the Executive at any Executive or General Meeting in accordance
with this Constitution and the By-Laws of the Simon Fraser Student
Society. In cases where the Constitution and the By-Laws of the Simon
Fraser Student Society require appointment by election, voting shall
be conducted the same way as an Elected Representative position would.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
     <h3><a name="tth_sEc6.7">
6.7</a>&nbsp;&nbsp;Recall</h3>

<ul>
<li> Officers of the Society may be recalled by a 2/3 majority of the members
present and voting at a General Meeting.
<div class="p"><!----></div>
</li>

<li> Notice of the proposed recall must be given in the notice of the General
Meeting at which the proposed recalls are to be considered.
<div class="p"><!----></div>
</li>

<li> Voting shall be conducted by secret ballot.
<div class="p"><!----></div>
</li>

<li> No proxy voting shall be allowed.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
 <h2><a name="tth_sEc7">
7</a>&nbsp;&nbsp;Standing Orders</h2>

<ul>
<li> Standing orders designed to regularise the business of the CSSS, or
amendments to the same, shall require approval of the membership by
a 2/3 majority vote of those present and voting at a quorate General
Meeting called for the purpose of approving or amending said standing
orders.
<div class="p"><!----></div>
</li>

<li> Proposals for standing orders or amendments must be made readily available
prior to the meeting for a period equivalent to regular meeting notice
requirements.
<div class="p"><!----></div>
</li>

<li> Standing orders shall be added to the CSSS Standing Orders Document.
<div class="p"><!----></div>
</li>

<li> Standing orders shall be considered equal in power to the Constitution,
except when a standing order violates the rules and regulations set
forth in either this Constitution, the SFSS Constitution, or the SFSS
Policy Manual. If such a violation occurs, the standing order shall
be struck down and considered invalid.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
 <h2><a name="tth_sEc8">
8</a>&nbsp;&nbsp;Policies</h2>

<ul>
<li> Policies designed to outline positions of the CSSS on certain issues,
or amendments to the same, shall require approval of the membership
by a 2/3 majority vote of those present and voting at a quorate General
Meeting called for the purpose of approving or amending said policies.
<div class="p"><!----></div>
</li>

<li> Proposals for policies or amendments must be made readily available
prior to the meeting for a period of four weeks.
<div class="p"><!----></div>
</li>

<li> All policies shall be referenced by title and date of latest revision
in the CSSS Policy Document.
<div class="p"><!----></div>
</li>

<li> Policies shall be considered equal in power to the Constitution, except
when a policy violates the rules and regulations set forth in either
this Constitution, the SFSS Constitution, or the SFSS Policy Manual.
If such a violation occurs, the policy shall be struck down and considered
invalid.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
 <h2><a name="tth_sEc9">
9</a>&nbsp;&nbsp;Amendments</h2>

<ul>
<li> This Constitution may be amended only by a motion of the CSSS requiring
at least a 2/3 majority of those present and voting at any General
Meeting considering such amendments.
<div class="p"><!----></div>
</li>

<li> Motions to amend this Constitution must be announced at a General
Meeting at least six weeks prior to the General Meeting at which they
are to be voted upon.
<div class="p"><!----></div>
</li>

<li> The text of the proposed amendment(s) shall be sent to CSSS e-mail
lists, and copies of the amendment(s) shall be available in the common
room(s) up to the time of voting.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>
 <h2><a name="tth_sEc10">
10</a>&nbsp;&nbsp;Dissolution</h2>

<ul>
<li> For the purpose of this Article, the Society shall have become inactive
if, for two consecutive semesters, the membership does not hold the
minimum number of quorate General Meetings.
<div class="p"><!----></div>
</li>

<li> In the event that this Society becomes inactive, all assets of the
Society become the property of the Simon Fraser Student Society to
be held in trust for a minimum of two years.
<div class="p"><!----></div>
</li>

<li> If, during this period, a new Computing Science Student Society or
Student Union is formed to represent the interests of students in
the School of Computing Science or if this Society becomes active,
the trust shall be dissolved and all assets shall become the property
of the new Computing Science Student Society/Union.
<div class="p"><!----></div>
</li>

<li> After two years, if the trust has not been dissolved, the Simon Fraser
Student Society may dispose of the assets as it sees fit.
<div class="p"><!----></div>
</li>
</ul>

<div class="p"><!----></div>

<br /><br /><hr /><small>File translated from
T<sub><font size="-1">E</font></sub>X
by <a href="http://hutchinson.belmont.ma.us/tth/">
T<sub><font size="-1">T</font></sub>H</a>,
version 4.01.<br />On 20 Jan 2013, 00:47.</small>
</html>
</div>